
    .button {
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      text-align: left;
      align-self: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #4CAF50;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
      margin-bottom: 10px;
    }
    
    .button:hover {background-color: #3e8e41}
    
    .button:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }

    .health {
      position: absolute;
      z-index: 100;
      top: 5%;
      margin-left: auto;
      right: 18%;
      color: rgb(62, 165, 37);
      font-size: 24px;
      font-family: 'Fujimaru-Regular';
      text-align: center;
      font-style: bold;
  }
    
    .health-bar-container {
      z-index: 100;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 120px;
      height: 24px;
      padding: 0%;
      background: #dddddd00;
      -webkit-border-radius: 2.5%;
      -moz-border-radius: 2.5%;
      border-radius: 5px;
      position: absolute;
      top: 10%;
      /* right: 15%; */
      left: 70%;
    }
    
    .health-bar-background {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #edece0;
    }
    
    .health-bar-foreground {
      position: absolute;
      top: 12%;
      right: 15%;
      height: 100%;
      background-color: #4CAF50;
      transition: width 0.5s linear;
      -webkit-border-radius: 2.5%;
      -moz-border-radius: 2.5%;
      border-radius: 10px;

    }
    